.taxes-container {
    height: 100%;
    display: flex;
    justify-content: center;

    .content-container {
        max-width: calc(1024px + 80px);
        padding: 40px;
        width: 100%;

        .content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .header-content {
                display: flex;
                flex-direction: column;

                .header-link {
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.5);
                }

                .header-link:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                .header-title {
                    font-size: 30px;
                    font-weight: 700;
                }

                .header-sub-title {
                    font-size: 16px;
                }
            }

            .header-action {
                button.action-save {
                    height: 48px;
                    width: 180px;
                    border: 1px solid #0c1124;
                    background-color: #0c1124;
                    border-radius: 5px;
                    color: white;
                    font-size: 17px;
                    font-weight: 500;
                }

                button.action-save:hover {
                    background-color: #37383d;
                    border: 1px solid #37383d;
                    cursor: pointer;
                }
            }
        }

        .details-title {
            margin: 20px 0px;

            span {
                font-size: 24px;
                font-weight: 700;
            }
        }

        .content-details {
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;

            .item-spliter {
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }

            .content-item {
                display: flex;
                padding: 20px 10px;

                .item-logo {
                    display: flex;
                    align-items: center;

                    span {
                        svg {
                            width: 10px;
                        }
                    }
                }

                .item-detail {
                    margin: 0px 20px;
                    width: calc(100%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .item-name {
                        font-size: 17px;
                        font-weight: 500;
                    }

                    .item-content,
                    .item-description {
                        font-size: 16px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }

            .content-item:hover {
                cursor: pointer;
                background-color: #f3f3f3;
            }
        }
    }
}