.memberships-page-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;

    .filter-modal {
        position: absolute;
        top: 50%;
        right: 50%;
        background-color: white;
        z-index: 999;
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0 0 5px 2px rgb(0 0 0 / 30%);
        transform: translate(50%, 0%);

        .modal-header {
            display: flex;
            justify-content: space-between;
            padding: 20px 20px;
            border-bottom: 1px solid #dbdbdb;

            span#modal-title {
                font-size: 20px;
                font-weight: 500;
            }

            span#modal-close {
                svg {
                    width: 25px;
                }
            }

            span#modal-close:hover {
                cursor: pointer;
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #dbdbdb;

            div.group {
                display: flex;
                flex-direction: column;
                padding: 20px;
            }

            span#select-title {
                margin-bottom: 5px;
                font-size: 16px;
                font-weight: 500;
            }

            select#valid-list {
                height: 40px;
                font-size: 16px;
                padding-left: 10px;
                min-width: 400px;
                border: 1px solid #dbdbdb;
                border-radius: 5px;
            }

            select#valid-list:hover {
                border: 1.5px solid #868686;
                cursor: pointer;
            }

            div#select-service {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: 5px;

                span#service-type {
                    font-size: 16px;
                    font-weight: 500;
                    color: #959595;
                    padding: 20px;
                }

                span#service-edit {
                    font-size: 16px;
                    color: #47a4f3;
                    font-weight: 500;
                    padding: 20px;
                }
            }

            div.service-value-container {
                display: flex;
                justify-content: space-between;
            }

            div.value-group,
            div.retail-price-group {
                display: flex;
                align-items: center;
                border: 1px solid #c3c3c3;
                border-radius: 5px;

                div#currency {
                    align-items: center;
                    display: flex;
                    padding: 10px;
                    border-right: 1px solid #c3c3c3;

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        color: #919191;
                    }
                }

                div#value-input {
                    display: flex;
                    align-items: center;

                    input {
                        font-size: 16px;
                        outline: none;
                        border: none;
                        padding: 10px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .modal-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: #278cf5;
                cursor: pointer;
            }

            span:hover {
                text-decoration: underline;
            }

            div#actions {
                display: flex;
                justify-content: space-between;

                button#action-cancel {
                    height: 40px;
                    width: 100px;
                    font-size: 16px;
                    font-weight: 500;
                    background-color: white;
                    border: 1px solid #dbdbdb;
                    border-radius: 5px;
                    margin-right: 5px;
                }

                button#action-cancel:hover {
                    border: 1px solid #a8a8a8;
                    cursor: pointer;
                }

                button#action-apply {
                    height: 40px;
                    width: 100px;
                    font-size: 16px;
                    font-weight: 500;
                    background-color: #0b1322;
                    border: 1px solid;
                    border-radius: 5px;
                    color: white;
                    margin-left: 5px
                }

                button#action-apply:hover {
                    background-color: #373b42;
                    cursor: pointer;
                }
            }
        }
    }

    .content-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content-title {
            font-size: 30px;
            font-weight: 700;
        }

        .content-summary {
            font-size: 16px;

            a {
                color: rgb(25, 144, 255);
            }
        }

        .select-action {
            padding: 5px 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            height: 48px;
            width: 120px;
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            font-weight: 500;
            cursor: pointer;
        }

        .select-action:hover {
            border-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }

    .content-setting {
        display: flex;
        padding: 15px;
        background-color: #f5f5f5;
        justify-content: space-between;
        width: calc(100%);
        border-radius: 10px;
        overflow-x: auto;
        margin-top: 20px;

        .search-container {
            display: flex;
            padding: 5px 15px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: white;
            border-radius: 25px;
            align-items: center;
            margin-right: 15px;

            input {
                height: 20px;
                font-size: 16px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                border: none;
                outline: none;
                margin-left: 10px;
                margin-right: 10px;
                width: 350px;
            }

            svg {
                height: 30px;
            }
        }

        .search-container:hover {
            border-color: rgba(0, 0, 0, 0.5);
        }

        .filter-group {
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            margin-right: 15px;
            background-color: white;
            position: relative;

            span {
                font-weight: 500;
                margin-right: 10px;
                font-size: 16px;
            }

            svg {
                height: 30px;
            }

        }

        .filter-group:hover {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
    }

    .content-details {
        display: flex;
        width: 100%;
        margin-top: 20px;

        .table-container {
            overflow-x: auto;
            width: 100%;

            div.result-count {
                font-weight: 500;
                font-size: 15px;
                color: rgba(0, 0, 0, 0.5);
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            table {
                width: max(900px, 100%);
                border-collapse: collapse;

                .table-header {
                    width: 1500px;

                    th {
                        justify-content: space-between;
                        padding: 15px;
                        font-size: 15px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                        .header-content {
                            float: left;
                            font-weight: 500;
                        }

                        svg {
                            height: 20px;
                        }
                    }
                }

                tbody {

                    tr.total {
                        background-color: rgba(0, 0, 0, 0.05);

                        td {
                            font-weight: 500;
                        }
                    }

                    tr {
                        position: relative;

                        td.ref-name {
                            color: #037aff;

                            span {
                                cursor: pointer;
                            }

                            span:hover {
                                text-decoration: underline;
                            }
                        }

                        div.more-actions-modal {
                            position: absolute;
                            display: flex;
                            right: 0;
                            top: 40px;
                            flex-direction: column;
                            width: 150px;
                            background-color: white;
                            border: 1px solid rgb(194, 194, 194);
                            border-radius: 5px;
                            z-index: 999;
                            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

                            span {
                                font-size: 16px;
                                padding: 10px 15px;
                                color: #3d3d3d;
                            }

                            span:hover {
                                background-color: rgba(0, 0, 0, 0.05);
                                cursor: pointer;
                            }
                        }

                        td {
                            padding: 15px;
                            font-size: 14px;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                            .badge {
                                border-radius: 5px;
                                padding: 5px 10px;
                                font-size: 14px;
                                font-weight: 600;
                            }

                            .badge-primary {
                                background-color: #cde4ff;
                                color: #037aff;
                            }

                            .badge-success {
                                background-color: #c0f0d1;
                                color: #00a36d;
                            }

                            span.more-actions {
                                display: flex;
                                height: 30px;
                                width: 40px;
                                background-color: white;
                                justify-content: center;
                                border-radius: 5px;

                                svg {
                                    width: 25px;
                                }
                            }

                            span.more-actions:hover {
                                cursor: pointer;
                                background-color: rgba(0, 0, 0, 0.05);
                            }
                        }
                    }
                }
            }
        }
    }
}