.dashboard-container {
    overflow: auto;
    display: flex;
    width: 100%;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;

    .details-container {
        border: 1px solid #d9d9d9;
        min-width: calc(50% - 12px);
        border-radius: 10px;
        max-width: calc(50% - 12px);
    }

    @media screen and (max-width: 1000px) {
        .details-container {
            max-width: 100%;
            width: 100%;
        }
    }

    .recent-sales {
        .title {
            display: flex;
            justify-content: space-between;
            padding: 20px 24px 10px;
            align-items: center;
            position: relative;

            #title-container {
                display: flex;
                flex-direction: column;

                span#title1 {
                    font-size: 22px;
                    font-weight: 700;
                }

                span#title2 {
                    font-size: 16px;
                    color: #686868;
                }
            }

            button.setting {
                display: flex;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: white;

                svg {
                    width: 20px;
                    margin: 5px;
                }
            }

            button.setting:hover {
                background-color: rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }

            .period-setting-container {
                position: absolute;
                right: 20px;
                top: 60px;
                border: 1px solid #d9d9d9;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                z-index: 999;

                .period-title {
                    font-size: 16px;
                    font-weight: 600;
                }

                .period-during {
                    margin-top: 5px;
                    width: 100%;
                    height: 40px;
                    border: 1px solid #d9d9d9;
                    border-radius: 5px;
                    font-size: 16px;
                }

                .period-action {
                    margin-top: 30px;

                    .action-close {
                        width: 150px;
                        height: 50px;
                        font-size: 17px;
                        font-weight: 600;
                        background-color: white;
                        border: 1px solid #d9d9d9;
                        border-radius: 5px;
                        margin-right: 10px;
                    }

                    .action-close:hover {
                        border: 1.5px solid #414141;
                        cursor: pointer;
                    }

                    .action-apply {
                        width: 150px;
                        height: 50px;
                        font-size: 17px;
                        font-weight: 600;
                        background-color: #060614;
                        border: 1px solid #060614;
                        border-radius: 5px;
                        margin-left: 10px;
                        color: white;
                    }
                    
                    .action-apply:hover {
                        background-color: #535357;
                        border: 1.5px solid #535357;
                        cursor: pointer;
                    }

                }
            }
        }

        span.price {
            font-size: 46px;
            padding: 15px 24px;
            font-weight: 400;
            line-height: 50px;
        }

        div.content {
            margin: 24px 24px 10px;

            div#content1 {
                span#content1-1 {
                    font-size: 15px;
                    color: #9d9d9d;
                    margin: 5px;
                    font-weight: 500;
                }

                span#content1-2 {
                    font-size: 15px;
                    margin: 5px;
                    font-weight: 700;
                }
            }

            div#content2 {
                span#content2-1 {
                    font-size: 15px;
                    color: #9d9d9d;
                    margin: 5px;
                    font-weight: 500;
                }

                span#content2-2 {
                    font-size: 15px;
                    margin: 5px;
                    font-weight: 700;
                }
            }
        }
    }

    .upcoming-appointments {
        .title {
            display: flex;
            justify-content: space-between;
            padding: 20px 24px 10px;
            align-items: center;
            position: relative;

            #title-container {
                display: flex;
                flex-direction: column;

                span#title1 {
                    font-size: 22px;
                    font-weight: 700;
                }

                span#title2 {
                    font-size: 16px;
                    color: #686868;
                }
            }

            button.setting {
                display: flex;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: white;

                svg {
                    width: 20px;
                    margin: 5px;
                }
            }

            button.setting:hover {
                background-color: rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }

            .period-setting-container {
                position: absolute;
                right: 20px;
                top: 60px;
                border: 1px solid #d9d9d9;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                z-index: 999;

                .period-title {
                    font-size: 16px;
                    font-weight: 600;
                }

                .period-during {
                    margin-top: 5px;
                    width: 100%;
                    height: 40px;
                    border: 1px solid #d9d9d9;
                    border-radius: 5px;
                    font-size: 16px;
                }

                .period-action {
                    margin-top: 30px;

                    .action-close {
                        width: 150px;
                        height: 50px;
                        font-size: 17px;
                        font-weight: 600;
                        background-color: white;
                        border: 1px solid #d9d9d9;
                        border-radius: 5px;
                        margin-right: 10px;
                    }

                    .action-close:hover {
                        border: 1.5px solid #414141;
                        cursor: pointer;
                    }

                    .action-apply {
                        width: 150px;
                        height: 50px;
                        font-size: 17px;
                        font-weight: 600;
                        background-color: #060614;
                        border: 1px solid #060614;
                        border-radius: 5px;
                        margin-left: 10px;
                        color: white;
                    }
                    
                    .action-apply:hover {
                        background-color: #535357;
                        border: 1.5px solid #535357;
                        cursor: pointer;
                    }

                }
            }
        }

        span.price {
            font-size: 46px;
            padding: 15px 24px;
            font-weight: 400;
            line-height: 50px;
        }

        div.content {
            margin: 24px 24px 10px;

            div#content1 {
                span#content1-1 {
                    font-size: 15px;
                    color: #9d9d9d;
                    margin: 5px;
                    font-weight: 500;
                }

                span#content1-2 {
                    font-size: 15px;
                    margin: 5px;
                    font-weight: 700;
                }
            }

            div#content2 {
                span#content2-1 {
                    font-size: 15px;
                    color: #9d9d9d;
                    margin: 5px;
                    font-weight: 500;
                }

                span#content2-2 {
                    font-size: 15px;
                    margin: 5px;
                    font-weight: 700;
                }
            }
        }
    }

    .appointments-activity {
        min-height: 400px;

        .title {
            display: flex;
            justify-content: space-between;
            padding: 20px 24px 10px;
            align-items: center;

            #title-container {
                display: flex;
                flex-direction: column;

                span#title1 {
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }

        div.content-details {
            padding-bottom: 20px;

            .content-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 20px;
                border-bottom: 1px solid #d9d9d9;

                .item-details {
                    display: flex;

                    .active-date {
                        display: flex;
                        flex-direction: column;
                        margin: 10px;

                        span.active-day {
                            font-size: 20px;
                            font-weight: 600;
                        }

                        span.active-month {
                            font-size: 16px;
                            font-weight: 500;
                            color: #6c6c6c;
                        }
                    }

                    .active-detail {
                        display: flex;
                        flex-direction: column;
                        margin: 10px;

                        span.detail-date {
                            font-size: 16px;
                            font-weight: 500;
                            color: #838383;
                        }

                        span.detail-type {
                            font-size: 18px;
                            font-weight: 600;
                        }

                        span.detail-service {
                            font-size: 16px;
                            font-weight: 500;
                            color: #838383;
                        }

                        span.detail-content {
                            font-size: 16px;
                            color: #4646dd;
                        }
                    }
                }

                .item-price {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .content-item:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .next-appointments {
        min-height: 400px;

        .title {
            display: flex;
            justify-content: space-between;
            padding: 20px 24px 10px;
            align-items: center;

            #title-container {
                display: flex;
                flex-direction: column;

                span#title1 {
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }

        div.content-details {
            padding-bottom: 20px;

            .content-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 20px;
                border-bottom: 1px solid #d9d9d9;

                .item-details {
                    display: flex;

                    .active-date {
                        display: flex;
                        flex-direction: column;
                        margin: 10px;

                        span.active-day {
                            font-size: 20px;
                            font-weight: 600;
                        }

                        span.active-month {
                            font-size: 16px;
                            font-weight: 500;
                            color: #6c6c6c;
                        }
                    }

                    .active-detail {
                        display: flex;
                        flex-direction: column;
                        margin: 10px;

                        span.detail-date {
                            font-size: 16px;
                            font-weight: 500;
                            color: #838383;
                        }

                        span.detail-type {
                            font-size: 18px;
                            font-weight: 600;
                        }

                        span.detail-service {
                            font-size: 16px;
                            font-weight: 500;
                            color: #838383;
                        }

                        span.detail-content {
                            font-size: 16px;
                            color: #4646dd;
                        }
                    }
                }

                .item-price {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .content-item:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .top-services {
        min-height: 200px;

        .title {
            display: flex;
            justify-content: space-between;
            padding: 20px 24px 10px;
            align-items: center;

            #title-container {
                display: flex;
                flex-direction: column;

                span#title1 {
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }

        div.content-details {
            padding-bottom: 20px;

            table {
                padding: 10px;

                thead {
                    th {
                        padding: 10px 24px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                tbody {
                    tr {
                        td {
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                            padding: 15px 24px;
                        }
                    }

                    tr:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }

    .top-team-member {
        min-height: 200px;

        .title {
            display: flex;
            justify-content: space-between;
            padding: 20px 24px 10px;
            align-items: center;

            #title-container {
                display: flex;
                flex-direction: column;

                span#title1 {
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }

        div.content-details {
            padding-bottom: 20px;

            table {
                padding: 10px;

                thead {
                    th {
                        padding: 10px 24px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                tbody {
                    tr {
                        td {
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                            padding: 15px 24px;
                        }
                    }

                    tr:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }
}