.account-settings-container {
    height: 100%;
    display: flex;
    justify-content: center;

    .content-container {
        max-width: calc(1024px + 80px);
        padding: 40px;
        width: 100%;

        .content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header-content {
                display: flex;
                flex-direction: column;

                .header-link {
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.5);
                }

                .header-link:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                .header-title {
                    font-size: 30px;
                    font-weight: 700;
                }
            }

            .header-action {
                button.action-save {
                    width: 120px;
                    height: 48px;
                    border: 1px solid #0c1124;
                    background-color: #0c1124;
                    border-radius: 5px;
                    color: white;
                    font-size: 17px;
                    font-weight: 500;
                }

                button.action-save:hover {
                    background-color: #37383d;
                    border: 1px solid #37383d;
                    cursor: pointer;
                }
            }
        }

        .content-details {
            padding: 20px 0px 50px;

            .content-item {
                display: flex;
                margin: 0px 0px 20px;

                .title-side {
                    width: 50%;
                    padding: 0px 30px 0px 0px;
                    display: flex;
                    flex-direction: column;

                    span.main-title {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    span.sub-title {
                        font-size: 16px;
                        font-weight: 500;
                        color: rgba(0,0,0,0.5);
                    }
                }

                .detail-side {
                    width: 50%;
                    border: 1px solid rgba(0,0,0,0.2);
                    border-radius: 10px;
                    padding: 24px 24px 10px;

                    .group {
                        display: flex;
                        flex-direction: column;
                        margin: 0px 0px 20px;

                        .group-title {
                            font-size: 17px;
                            font-weight: 500;
                        }

                        .group-sub-title {
                            font-size: 16px;
                        }

                        .input-container {
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            border: 1px solid rgba(0,0,0,0.2);
                            border-radius: 5px;

                            input {
                                width: 100%;
                                font-size: 16px;
                                border: none;
                                outline: none;
                            }

                            select {
                                width: 100%;
                                font-size: 16px;
                                border: none;
                                outline: none;
                            }
                        }

                        .toastr-container {
                            background-color: #f2f2f7;
                            border-radius: 5px;
                            padding: 14px 16px;

                            span {
                                font-size: 16px;

                                b {
                                    font-weight: 500;
                                }

                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}