.notifications-container {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1600' height='900'><ellipse cx='1120' cy='0' rx='325' ry='325' fill='%23FADEE3'></ellipse></svg>");
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 3072px 1728px;

    .details {
        max-width: 900px;
        display: flex;

        .content-container {
            display: flex;
            flex-direction: column;
            width: 490px;

            span#content-title {
                font-size: 38px;
                font-weight: 700;
                line-height: 50px;
            }

            span#content-sub-title {
                font-size: 17px;
                font-weight: 500;
                margin: 30px 0px;

                a {
                    color: #037aff;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .content-items {
                display: flex;
                flex-direction: column;

                .item {
                    font-size: 16px;
                    font-weight: 400;
                    margin: 5px 0px;

                    a {
                        color: #037aff;
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            a#learn-more {
                margin: 30px 0px;
                font-size: 18px;
                font-weight: 400;
                text-decoration: none;
            }

            a#learn-more:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .image-container {
            width: 400px;
        }
    }
}