/**
 * Main application sass file that contains all the application styling
 */

// import bryntum theme
@import "~@bryntum/calendar/calendar.stockholm.css";
@import url('bootstrap/dist/css/bootstrap.min.css');

body,
html {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Poppins, "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#container {
  flex: 1 1 100%;
  display: flex;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.font-left {
  text-align: left;
}

.font-right {
  text-align: right;
}

.hide-leftside {
  min-width: 0px !important;
}

.hide-item {
  display: none;
}

.rotate-180 {
  transform: rotate(180deg);
}

.w-100 {
  width: 100% !important;
}

.set-max {
  min-width: calc(100% - 21px) !important;
  max-width: calc(100% - 21px) !important;
}
