.clients-list-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: relative;
    margin: auto;
    max-width: 1100px;

    .content-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content-title {
            font-size: 30px;
            font-weight: 700;
        }

        .content-summary {
            font-size: 16px;

            a {
                color: rgb(25, 144, 255);
            }
        }

        .content-action {
            display: flex;

            .select-action {
                height: 50px;
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                margin: 0 10px;
                font-size: 16px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                font-weight: 500;
                border-radius: 5px;
                border: 1.5px solid #d5d5d5;

                svg {
                    height: 20px;
                }
            }

            .select-action:hover {
                border-color: #1b1b1b;
                cursor: pointer;
            }

            .add-client {
                height: 50px;
                margin: 0 10px;
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(8, 13, 32);
                color: white;
                font-size: 16px;
                text-decoration: none;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                font-weight: 500;
                border-radius: 5px;
                border: 1.5px solid #d5d5d5;
            }

            .add-client:hover {
                background-color: rgb(20, 28, 63);
                cursor: pointer;
            }
        }
    }

    .content-advertisement {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #f8f8fb;
        border-radius: 5px;
        padding: 20px 35px;
        margin-top: 30px;
        border: 1px solid #d5d7da;

        span#ad-title {
            font-size: 24px;
            font-weight: 700;
            max-width: 510px;
            padding: 5px;
        }

        span#ad-content {
            font-size: 16px;
            padding: 5px;
        }

        button#learn-more-ad {
            font-size: 17px;
            margin: 5px;
            font-weight: 500;
            width: 120px;
            height: 50px;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 5px;
        }

        button#learn-more-ad:hover {
            border: 1.5px solid rgba(0, 0, 0, 0.8);
            cursor: pointer;
        }

        span#ad-close {
            position: absolute;
            right: 30px;
            cursor: pointer;

            svg {
                width: 15px;
            }
        }

        img#ad-background {
            position: absolute;
        }
    }

    .content-setting {
        display: flex;
        padding: 15px;
        background-color: #f5f5f5;
        justify-content: flex-start;
        width: calc(100% );
        max-width: 1470px;
        border-radius: 10px;
        margin-top: 20px;
        overflow-x: auto;

        .search-container {
            display: flex;
            padding: 5px 15px;
            border: 1px solid #b8b8b8;
            background-color: white;
            border-radius: 25px;
            align-items: center;
            margin-right: 15px;

            input {
                height: 20px;
                font-size: 16px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                border: none;
                outline: none;
                margin-left: 10px;
                margin-right: 10px;
                width: 350px;
            }

            svg {
                height: 30px;
            }
        }

        .search-container:hover {
            border: 1.5px solid #727272;
        }

        .filter-group {
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid lightgrey;
            border-radius: 25px;
            margin-right: 15px;
            background-color: white;

            span {
                font-weight: 500;
                font-size: 16px;
                margin-right: 10px;
            }

            svg {
                height: 30px;
            }
        }

        .filter-group:hover {
            border: 1px solid #727272;
            cursor: pointer;
        }

        .select-filter {
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            font-weight: 500;
            padding-right: 20px;
            height: 42px;
            padding-left: 20px;
            background-color: white;
            border: 1px solid #c3c3c3;
            border-radius: 25px;
        }

        .select-filter:hover {
            cursor: pointer;
            border: 1px solid #727272;
        }
    }

    .content-details {
        display: flex;
        width: 100%;
        max-width: 1500px;
        margin-top: 20px;
        overflow-x: auto;

        .table-container {
            width: 100%;
            min-width: 1000px;

            table {
                border-collapse: collapse;
                width: 100%;

                .table-header {
                    width: 1500px;

                    th {
                        justify-content: space-between;
                        padding: 15px;
                        font-size: 15px;
                        border-bottom: 1px solid #b8b8b8;

                        .header-content {
                            float: left;
                            font-weight: 600;
                        }

                        svg {
                            height: 20px;
                        }
                    }
                }

                tbody {

                    tr {

                        td.ref-name {
                            color: #037aff;
                        }

                        td {
                            padding: 15px;
                            font-size: 15px;
                            border-bottom: 1px solid #b8b8b8;

                            .btn-action {
                                background-color: white;
                                border: none;
                                outline: none;
                                width: 80px;

                                svg {
                                    width: 20px;
                                }
                            }

                            .btn-action:hover {
                                cursor: pointer;
                                background-color: #f5f5f5;
                                border-radius: 5px;
                            }

                            div#client-container {
                                display: flex;
                                align-items: center;

                                .client-avatar {
                                    width: 60px;
                                    height: 60px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #c4e3ff;
                                    border-radius: 50%;

                                    span {
                                        font-size: 34px;
                                        font-weight: 500;
                                        color: #065ecb;
                                    }
                                }

                                .client-info {
                                    display: flex;
                                    flex-direction: column;
                                    margin-left: 20px;

                                    span#client-name {
                                        font-size: 17px;
                                        font-weight: 500;
                                        color: #464646;
                                    }

                                    span#client-email {
                                        font-weight: 400;
                                        color: #767676;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}