.locations-container {
    height: 100%;
    display: flex;
    justify-content: center;

    .content-container {
        max-width: calc(1024px + 80px);
        padding: 40px;
        width: 100%;

        .content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header-content {
                display: flex;
                flex-direction: column;

                .header-link {
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.5);
                }

                .header-link:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                .header-title {
                    font-size: 30px;
                    font-weight: 700;
                }
            }

            .header-action {
                button.action-save {
                    height: 48px;
                    padding: 0px 20px;
                    border: 1px solid #0c1124;
                    background-color: #0c1124;
                    border-radius: 5px;
                    color: white;
                    font-size: 17px;
                    font-weight: 500;
                }

                button.action-save:hover {
                    background-color: #37383d;
                    border: 1px solid #37383d;
                    cursor: pointer;
                }
            }
        }

        .content-details {
            padding: 20px 0px 50px;

            .content-item {
                display: flex;
                margin: 0px 0px 20px;
                padding: 24px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                justify-content: space-between;

                .item-logo {
                    display: flex;
                    height: 140px;
                    width: 250px;
                    justify-content: center;
                    align-items: center;
                    background-color: #e5f1ff;
                    border-radius: 5px;

                    span {
                        svg {
                            width: 30px;
                        }
                    }
                }

                .item-detail {
                    width: calc(100% - 250px - 52px - 48px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .item-name {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    .item-content {
                        font-size: 16px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                .item-selection {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        svg {
                            width: 20px;
                        }
                    }
                }
            }

            .content-item:hover {
                cursor: pointer;
                border: 1px solid rgba(0, 0, 0, 0.5);
            }
        }
    }
}