.catalogue-services-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: relative;
    margin: auto;
    max-width: 1100px;

    .new-category-modal {
        position: fixed;
        top: 20%;
        right: 50%;
        background-color: white;
        z-index: 999;
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0 0 5px 2px rgb(0 0 0 / 30%);
        transform: translate(50%, 0%);

        .modal-header {
            display: flex;
            justify-content: space-between;
            padding: 20px 20px;
            border-bottom: 1px solid #dbdbdb;

            span#modal-title {
                font-size: 20px;
                font-weight: 500;
            }

            span#modal-close {
                svg {
                    width: 25px;
                }
            }

            span#modal-close:hover {
                cursor: pointer;
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #dbdbdb;

            .group {
                display: flex;
                flex-direction: column;
                padding: 10px 20px;
                min-width: 500px;

                .group-title {
                    font-size: 16px;
                    font-weight: 500;
                    margin: 5px 0px;
                }

                .input-container {
                    padding: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;

                    .input-control {
                        font-size: 16px;
                        width: 100%;
                        outline: none;
                        border: none;
                    }
                }

                .input-container.danger {
                    border: 1.5px solid #dc3545;
                    ;
                }

                .group-hint {
                    font-size: 14px;
                    margin: 5px 0px;
                }

                .group-hint.danger {
                    color: #dc3545;
                }
            }
        }

        .modal-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 20px;

            .action-container {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                .action-control {
                    width: 120px;
                    height: 50px;
                    font-size: 18px;
                    font-weight: 500;
                    border-radius: 5px;
                }

                .action-control.action-save {
                    color: white;
                    border: 1px solid rgb(15, 17, 37);
                    background-color: rgb(15, 17, 37);
                }
            }
        }
    }

    .service-actions-modal {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        background-color: white;
        z-index: 99;
        border-radius: 5px;

        .action-item {
            padding: 10px 20px;
            font-size: 16px;
        }

        .action-item.danger {
            color: #dc3545;
        }

        .action-item:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    .content-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .content-title {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .content-action {
            display: flex;
            flex-wrap: wrap;

            .option-group,
            .add-group {
                position: relative;
            }

            .btn {
                height: 50px;
                padding: 0px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 10px;
                font-size: 17px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                font-weight: 500;
                border-radius: 5px;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;

                    svg {
                        height: 20px;
                    }
                }
            }

            .btn-option {
                border: 1px solid rgba(0, 0, 0, 0.2);
                background-color: white;
            }

            .btn-option:hover {
                border: 1.5px solid rgba(0, 0, 0, 0.6);
                cursor: pointer;
            }

            .btn-add {
                border: 1px solid rgb(10, 15, 32);
                background-color: rgb(10, 15, 32);
                color: white;
            }

            .btn-add:hover {
                border: 1px solid rgb(56, 57, 65);
                background-color: rgb(56, 57, 65);
                cursor: pointer;
            }

            .option-modal,
            .add-modal {
                display: flex;
                position: absolute;
                flex-direction: column;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
                z-index: 99;
                background-color: white;
                border-radius: 5px;
                top: 60px;
                left: 10px;
                width: auto;

                .modal-body {
                    padding: 10px 20px;
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                    width: 160px;
                }

                .modal-body:hover {
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }
    }

    .content-setting {
        display: flex;
        padding: 15px;
        background-color: #f5f5f5;
        justify-content: flex-start;
        width: calc(100%);
        max-width: 1470px;
        border-radius: 10px;
        margin-top: 20px;
        overflow-x: auto;

        .search-container {
            display: flex;
            padding: 5px 15px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: white;
            border-radius: 25px;
            align-items: center;
            margin-right: 15px;

            input {
                height: 20px;
                font-size: 16px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                border: none;
                outline: none;
                margin-left: 10px;
                margin-right: 10px;
                width: 350px;
            }

            svg {
                height: 30px;
            }
        }

        .search-container:hover {
            border: 1.5px solid #727272;
        }
    }

    .content-details {
        display: flex;
        width: 100%;
        max-width: 1500px;
        margin-top: 20px;
        overflow-x: auto;
        flex-direction: column;

        .service-group {
            min-width: 650px;
            width: 100%;

            .service-header {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .header-title {
                    display: flex;
                    align-items: center;

                    span.logo {
                        padding: 0px 20px;

                        svg {
                            width: 10px;
                        }
                    }

                    span.title {
                        font-size: 24px;
                        font-weight: 700;
                    }
                }

                .header-actions {
                    padding: 5px 10px;

                    svg {
                        width: 25px;
                    }
                }

                .header-actions:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    cursor: pointer;
                }

            }

            .service-item {
                display: flex;
                justify-content: space-between;
                padding: 15px 0px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-left: 5px solid rgb(165, 223, 248);

                .item-title {
                    display: flex;
                    align-items: center;

                    .logo {
                        padding: 0px 15px;

                        svg {
                            width: 10px;
                        }
                    }

                    .title {
                        padding: 0px 5px;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .item-detail {
                    .item-time {
                        font-size: 16px;
                        margin: 0px 60px;
                        color: rgba(0, 0, 0, 0.5);
                        font-weight: 500;
                    }

                    .item-last-price {
                        margin: 0px 80px;
                        text-decoration: line-through;
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.5);
                        font-weight: 500;
                    }

                    .item-current-price {
                        font-size: 17px;
                        font-weight: 500;
                        margin: 0px 20px;
                    }
                }
            }

            .service-item:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.03);
            }
        }
    }
}

.appointment-type-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .topbar {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 30px;

        .topbar-close {
            cursor: pointer;

            svg {
                width: 30px;
            }
        }
    }

    .choose-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 100px);

        .choose-title {
            display: flex;
            justify-content: center;
            margin: 70px 30px 30px;

            span {
                font-size: 30px;
                font-weight: 700;
            }
        }

        .choose-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            .choose-item {
                text-decoration: none;
                color: black;
                display: flex;
                justify-content: space-between;
                width: 540px;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                padding: 30px;

                .item-detail {
                    display: flex;
                    flex-direction: column;

                    .item-title {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    .item-content {
                        font-size: 15px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.4);
                    }
                }
            }

            .choose-item:hover {
                cursor: pointer;
                border: 1.5px solid rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.add-form-container {
    width: 100%;
    position: relative;

    .topbar {
        width: 100%;
        display: flex;
        align-items: center;
        height: 84px;
        justify-content: space-between;
        position: fixed;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        z-index: 99;
        top: 0;

        a.edit-close {
            padding: 20px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 150px;

            svg {
                border-radius: 5px;
                width: 40px;
                padding: 5px;
            }

            svg:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        span.edit-title {
            font-size: 24px;
            font-weight: 700;
        }

        button.edit-save {
            font-size: 17px;
            font-weight: 500;
            width: 150px;
            height: 50px;
            background-color: #101928;
            border: 1px solid #101928;
            color: white;
            border-radius: 5px;
            margin: 0px 20px;
        }
    }

    div.title {
        display: flex;
        justify-content: center;
        padding: 0 24px 24px;
        margin-top: 84px;

        span {
            font-size: 28px;
            font-weight: 700;
        }
    }

    .main-container {
        max-width: 1050px;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-around;

        .border-danger {
            border: 1.5px solid #da2346;
        }

        .group-container {
            margin: auto;
            max-width: 800px;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            margin-bottom: 20px;

            div.group-title {
                padding: 20px 25px;
                border-bottom: 1px solid #cccccc;

                span.title {
                    font-size: 24px;
                    font-weight: 700;
                }

                .sub-title {
                    font-size: 16px;
                }
            }

            .group {
                width: 100%;
                gap: 20px;

                span.group-title {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                span.group-total-title {
                    font-size: 20px;
                    font-weight: 700;
                }

                span.group-sub-title {
                    font-size: 16px;
                }

                div.check-container {
                    display: flex;
                    align-items: center;
                    padding: 0px 0px 25px;

                    div.check-logo {
                        background-color: #037aff;
                        width: 25px;
                        height: 25px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;

                        svg {
                            width: 15px;
                        }
                    }

                    div.check-logo.unchecked {
                        background-color: white;
                    }

                    span {
                        margin-left: 15px;
                        font-size: 16px;
                    }
                }

                div.input-container {
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    display: flex;
                    position: relative;
                    margin: 5px 0px;
                    align-items: center;

                    input {
                        width: calc(100%);
                        height: 30px;
                        font-size: 16px;
                        border: none;
                        margin: 10px;
                        outline: none;
                    }

                    select {
                        width: calc(100%);
                        height: 30px;
                        font-size: 16px;
                        border: none;
                        margin: 10px;
                        outline: none;
                        cursor: pointer;
                    }

                    textarea {
                        width: 100%;
                        margin: 10px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                    }

                    .sel-number-region {
                        height: 52px;
                        width: 130px;
                        display: flex;
                        align-items: center;
                        border-right: 1px solid #cccccc;

                        span.region-value {
                            font-size: 16px;
                            width: 50px;
                            padding: 10px;
                            height: 30px;
                            text-align: left;
                            display: flex;
                            align-items: center;
                        }

                        span.select-icon {
                            padding: 10px;

                            svg {
                                width: 20px;
                            }
                        }
                    }

                    .sel-number-region:hover {
                        border-right: 1px solid #3995ff;
                        cursor: pointer;
                    }

                    select.sel-number-region {
                        position: absolute;
                        font-size: 16px;
                        top: 40px;
                        height: 30px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.6);
                    }
                }

                div.input-container:hover {
                    border: 1.5px solid #696969;
                    cursor: pointer;
                }

                span.group-hint {
                    font-size: 14px;
                    color: #da2346;
                }

                div.form-check {
                    display: flex;
                    align-items: center;

                    .form-check-input {
                        width: 48px;
                        height: 28px;
                    }

                    span.check-content {
                        font-size: 16px;
                        margin-left: 20px;
                    }
                }

                .check-group {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0px 30px;

                    .form-group {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        gap: 10px;

                        .form-check-input {
                            height: 30px;
                            width: 30px;
                        }

                        div.user-avatar {
                            border: 2px solid #0d6efd;
                            border-radius: 50%;

                            .user-nickname {
                                font-size: 17px;
                                font-weight: 500;
                                color: #0d6efd;
                                height: 54px;
                                width: 54px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                background-color: #c9dfff;
                                border: 3px solid white;
                            }
                        }

                        span.check-username {
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .two-group {
                display: flex;
                gap: 20px;
            }

            .sub-container {
                padding: 10px 25px;
            }

            .option-container {
                padding: 20px 25px;
                display: flex;
                flex-direction: column;

                .option-title {
                    font-size: 20px;
                    font-weight: 700;
                }

                .option-details {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .pricing-duration {
            display: flex;
            flex-direction: column;

            .option-container {
                border: 1.5px solid rgba(0, 0, 0, 0.2);
                padding: 0px 0px 20px;
                margin: 20px 25px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.05);

                span.option-title {
                    padding: 10px 25px;
                }

                .group {
                    flex-wrap: wrap;
                }

                .input-container {
                    background-color: white;
                    width: 150px;
                }

                .option-details {
                    flex-wrap: wrap;
                }

                .pricing-name-container {
                    margin: 0px 3px;
                    justify-content: flex-start;

                    .input-container {
                        width: 320px;
                    }
                }

                span.advanced-options {
                    font-size: 18px;
                    color: #037aff;
                    margin: 10px 30px 10px;
                }

                span.advanced-options:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .add-pricing-option {
                display: flex;
                align-items: center;

                span.add-logo {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 20px;
                    }
                }

                span.add-content {
                    margin-left: 10px;
                    font-size: 16px;
                    color: #3995ff;
                }
            }

            .add-address-action:hover {
                cursor: pointer;

                span.add-content {
                    text-decoration: underline;
                }
            }

            .extra-time-group {
                border-top: 1px solid rgba(0, 0, 0, 0.2);
            }

            .extra-items-container {
                display: flex;
                gap: 30px;
                margin: 30px 0px;
                flex-wrap: wrap;

                .extra-item {
                    display: flex;
                    flex-direction: column;
                    width: 260px;
                    padding: 20px 30px;
                    justify-content: center;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 5px;

                    span.item-title {
                        font-size: 17px;
                        font-weight: 500;
                        text-align: center;
                    }

                    span.item-content {
                        text-align: center;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }

                .extra-item:hover {
                    cursor: pointer;
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
                }

                .extra-item.active {
                    border: 2px solid #037aff;
                    background-color: #e7f2ff;

                    span.item-content {
                        color: #000;
                    }
                }
            }

            .extra-duration-container {
                .duration-group {
                    max-width: 550px;

                    .duration-group-title {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .select-duration {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid rgba(0,0,0,0.3);
                        border-radius: 5px;

                        select {
                            width: 100%;
                            font-size: 16px;
                            height: 30px;
                            border: none;
                            outline: none;
                        }
                    }

                    .select-duration:hover {
                        border: 1px solid rgba(0,0,0,0.6);
                        cursor: pointer;

                        select {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .sales-settings {
            display: flex;
            margin-bottom: 50px;
            flex-direction: column;

            .option-container {
                border: 1.5px solid rgba(0, 0, 0, 0.2);
                padding: 0px 0px 20px;
                margin: 20px 25px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.05);

                span.option-title {
                    padding: 10px 25px;
                }

                .group {
                    flex-wrap: wrap;
                }

                .input-container {
                    background-color: white;
                    width: 150px;
                }

                .option-details {
                    flex-wrap: wrap;
                }

                .pricing-name-container {
                    margin: 0px 3px;
                    justify-content: flex-start;

                    .input-container {
                        width: 320px;
                    }
                }

                span.advanced-options {
                    font-size: 18px;
                    color: #037aff;
                    margin: 10px 30px 10px;
                }

                span.advanced-options:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .add-pricing-option {
                display: flex;
                align-items: center;

                span.add-logo {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 20px;
                    }
                }

                span.add-content {
                    margin-left: 10px;
                    font-size: 16px;
                    color: #3995ff;
                }
            }

            .add-address-action:hover {
                cursor: pointer;

                span.add-content {
                    text-decoration: underline;
                }
            }

            .extra-time-group {
                border-top: 1px solid rgba(0, 0, 0, 0.2);
            }

            .extra-items-container {
                display: flex;
                gap: 30px;
                margin: 30px 0px;
                flex-wrap: wrap;

                .extra-item {
                    display: flex;
                    flex-direction: column;
                    width: 260px;
                    padding: 20px 30px;
                    justify-content: center;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 5px;

                    span.item-title {
                        font-size: 17px;
                        font-weight: 500;
                        text-align: center;
                    }

                    span.item-content {
                        text-align: center;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }

                .extra-item:hover {
                    cursor: pointer;
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
                }

                .extra-item.active {
                    border: 2px solid #037aff;

                    span.item-content {
                        color: #000;
                    }
                }
            }

            .tax-container, .voucher-expiry-container {
                .tax-group, .voucher-group {
                    max-width: 550px;

                    .tax-group-title, .voucher-group-title {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .select-tax, .select-voucher {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid rgba(0,0,0,0.3);
                        border-radius: 5px;

                        select {
                            width: 100%;
                            font-size: 16px;
                            height: 30px;
                            border: none;
                            outline: none;
                        }
                    }

                    .select-tax:hover, .select-voucher:hover {
                        border: 1px solid rgba(0,0,0,0.6);
                        cursor: pointer;

                        select {
                            cursor: pointer;
                        }
                    }
                }
            }

            .tax-container {
                padding: 20px 30px;
            }

            .voucher-sales-group {
                .group-total-title {
                    margin: 20px 30px;
                }

                .form-check {
                    margin: 10px 30px;
                    width: 100%;
                }

                .voucher-expiry-container {
                    padding: 20px 30px 40px;
                }
            }
        }
    }
}

.edit-form-container {
    width: 100%;
    position: relative;

    .topbar {
        width: 100%;
        display: flex;
        align-items: center;
        height: 84px;
        justify-content: space-between;
        position: fixed;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        z-index: 99;
        top: 0;

        a.edit-close {
            padding: 20px;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 150px;

            svg {
                border-radius: 5px;
                width: 40px;
                padding: 5px;
            }

            svg:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        span.edit-title {
            font-size: 24px;
            font-weight: 700;
        }

        button.edit-save {
            font-size: 17px;
            font-weight: 500;
            width: 150px;
            height: 50px;
            background-color: #101928;
            border: 1px solid #101928;
            color: white;
            border-radius: 5px;
            margin: 0px 20px;
        }
    }

    div.title {
        display: flex;
        justify-content: center;
        padding: 0 24px 24px;
        margin-top: 84px;

        span {
            font-size: 28px;
            font-weight: 700;
        }
    }

    .main-container {
        max-width: 1050px;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-around;

        .border-danger {
            border: 1.5px solid #da2346;
        }

        .group-container {
            margin: auto;
            max-width: 800px;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            margin-bottom: 20px;

            div.group-title {
                padding: 20px 25px;
                border-bottom: 1px solid #cccccc;

                span.title {
                    font-size: 24px;
                    font-weight: 700;
                }

                .sub-title {
                    font-size: 16px;
                }
            }

            .group {
                width: 100%;
                gap: 20px;

                span.group-title {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                span.group-total-title {
                    font-size: 20px;
                    font-weight: 700;
                }

                span.group-sub-title {
                    font-size: 16px;
                }

                div.check-container {
                    display: flex;
                    align-items: center;
                    padding: 0px 0px 25px;

                    div.check-logo {
                        background-color: #037aff;
                        width: 25px;
                        height: 25px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;

                        svg {
                            width: 15px;
                        }
                    }

                    div.check-logo.unchecked {
                        background-color: white;
                    }

                    span {
                        margin-left: 15px;
                        font-size: 16px;
                    }
                }

                div.input-container {
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    display: flex;
                    position: relative;
                    margin: 5px 0px;
                    align-items: center;

                    input {
                        width: calc(100%);
                        height: 30px;
                        font-size: 16px;
                        border: none;
                        margin: 10px;
                        outline: none;
                    }

                    select {
                        width: calc(100%);
                        height: 30px;
                        font-size: 16px;
                        border: none;
                        margin: 10px;
                        outline: none;
                        cursor: pointer;
                    }

                    textarea {
                        width: 100%;
                        margin: 10px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                    }

                    .sel-number-region {
                        height: 52px;
                        width: 130px;
                        display: flex;
                        align-items: center;
                        border-right: 1px solid #cccccc;

                        span.region-value {
                            font-size: 16px;
                            width: 50px;
                            padding: 10px;
                            height: 30px;
                            text-align: left;
                            display: flex;
                            align-items: center;
                        }

                        span.select-icon {
                            padding: 10px;

                            svg {
                                width: 20px;
                            }
                        }
                    }

                    .sel-number-region:hover {
                        border-right: 1px solid #3995ff;
                        cursor: pointer;
                    }

                    select.sel-number-region {
                        position: absolute;
                        font-size: 16px;
                        top: 40px;
                        height: 30px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.6);
                    }
                }

                div.input-container:hover {
                    border: 1.5px solid #696969;
                    cursor: pointer;
                }

                span.group-hint {
                    font-size: 14px;
                    color: #da2346;
                }

                div.form-check {
                    display: flex;
                    align-items: center;

                    .form-check-input {
                        width: 48px;
                        height: 28px;
                    }

                    span.check-content {
                        font-size: 16px;
                        margin-left: 20px;
                    }
                }

                .check-group {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0px 30px;

                    .form-group {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        gap: 10px;

                        .form-check-input {
                            height: 30px;
                            width: 30px;
                        }

                        div.user-avatar {
                            border: 2px solid #0d6efd;
                            border-radius: 50%;

                            .user-nickname {
                                font-size: 17px;
                                font-weight: 500;
                                color: #0d6efd;
                                height: 54px;
                                width: 54px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                background-color: #c9dfff;
                                border: 3px solid white;
                            }
                        }

                        span.check-username {
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .two-group {
                display: flex;
                gap: 20px;
            }

            .sub-container {
                padding: 10px 25px;
            }

            .option-container {
                padding: 20px 25px;
                display: flex;
                flex-direction: column;

                .option-title {
                    font-size: 20px;
                    font-weight: 700;
                }

                .option-details {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .pricing-duration {
            display: flex;
            flex-direction: column;

            .option-container {
                border: 1.5px solid rgba(0, 0, 0, 0.2);
                padding: 0px 0px 20px;
                margin: 20px 25px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.05);

                span.option-title {
                    padding: 10px 25px;
                }

                .group {
                    flex-wrap: wrap;
                }

                .input-container {
                    background-color: white;
                    width: 150px;
                }

                .option-details {
                    flex-wrap: wrap;
                }

                .pricing-name-container {
                    margin: 0px 3px;
                    justify-content: flex-start;

                    .input-container {
                        width: 320px;
                    }
                }

                span.advanced-options {
                    font-size: 18px;
                    color: #037aff;
                    margin: 10px 30px 10px;
                }

                span.advanced-options:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .add-pricing-option {
                display: flex;
                align-items: center;

                span.add-logo {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 20px;
                    }
                }

                span.add-content {
                    margin-left: 10px;
                    font-size: 16px;
                    color: #3995ff;
                }
            }

            .add-address-action:hover {
                cursor: pointer;

                span.add-content {
                    text-decoration: underline;
                }
            }

            .extra-time-group {
                border-top: 1px solid rgba(0, 0, 0, 0.2);
            }

            .extra-items-container {
                display: flex;
                gap: 30px;
                margin: 30px 0px;
                flex-wrap: wrap;

                .extra-item {
                    display: flex;
                    flex-direction: column;
                    width: 260px;
                    padding: 20px 30px;
                    justify-content: center;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 5px;

                    span.item-title {
                        font-size: 17px;
                        font-weight: 500;
                        text-align: center;
                    }

                    span.item-content {
                        text-align: center;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }

                .extra-item:hover {
                    cursor: pointer;
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
                }

                .extra-item.active {
                    border: 2px solid #037aff;
                    background-color: #e7f2ff;

                    span.item-content {
                        color: #000;
                    }
                }
            }

            .extra-duration-container {
                .duration-group {
                    max-width: 550px;

                    .duration-group-title {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .select-duration {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid rgba(0,0,0,0.3);
                        border-radius: 5px;

                        select {
                            width: 100%;
                            font-size: 16px;
                            height: 30px;
                            border: none;
                            outline: none;
                        }
                    }

                    .select-duration:hover {
                        border: 1px solid rgba(0,0,0,0.6);
                        cursor: pointer;

                        select {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .sales-settings {
            display: flex;
            margin-bottom: 50px;
            flex-direction: column;

            .option-container {
                border: 1.5px solid rgba(0, 0, 0, 0.2);
                padding: 0px 0px 20px;
                margin: 20px 25px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.05);

                span.option-title {
                    padding: 10px 25px;
                }

                .group {
                    flex-wrap: wrap;
                }

                .input-container {
                    background-color: white;
                    width: 150px;
                }

                .option-details {
                    flex-wrap: wrap;
                }

                .pricing-name-container {
                    margin: 0px 3px;
                    justify-content: flex-start;

                    .input-container {
                        width: 320px;
                    }
                }

                span.advanced-options {
                    font-size: 18px;
                    color: #037aff;
                    margin: 10px 30px 10px;
                }

                span.advanced-options:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .add-pricing-option {
                display: flex;
                align-items: center;

                span.add-logo {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 20px;
                    }
                }

                span.add-content {
                    margin-left: 10px;
                    font-size: 16px;
                    color: #3995ff;
                }
            }

            .add-address-action:hover {
                cursor: pointer;

                span.add-content {
                    text-decoration: underline;
                }
            }

            .extra-time-group {
                border-top: 1px solid rgba(0, 0, 0, 0.2);
            }

            .extra-items-container {
                display: flex;
                gap: 30px;
                margin: 30px 0px;
                flex-wrap: wrap;

                .extra-item {
                    display: flex;
                    flex-direction: column;
                    width: 260px;
                    padding: 20px 30px;
                    justify-content: center;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 5px;

                    span.item-title {
                        font-size: 17px;
                        font-weight: 500;
                        text-align: center;
                    }

                    span.item-content {
                        text-align: center;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }

                .extra-item:hover {
                    cursor: pointer;
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
                }

                .extra-item.active {
                    border: 2px solid #037aff;

                    span.item-content {
                        color: #000;
                    }
                }
            }

            .tax-container, .voucher-expiry-container {
                .tax-group, .voucher-group {
                    max-width: 550px;

                    .tax-group-title, .voucher-group-title {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .select-tax, .select-voucher {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid rgba(0,0,0,0.3);
                        border-radius: 5px;

                        select {
                            width: 100%;
                            font-size: 16px;
                            height: 30px;
                            border: none;
                            outline: none;
                        }
                    }

                    .select-tax:hover, .select-voucher:hover {
                        border: 1px solid rgba(0,0,0,0.6);
                        cursor: pointer;

                        select {
                            cursor: pointer;
                        }
                    }
                }
            }

            .tax-container {
                padding: 20px 30px;
            }

            .voucher-sales-group {
                .group-total-title {
                    margin: 20px 30px;
                }

                .form-check {
                    margin: 10px 30px;
                    width: 100%;
                }

                .voucher-expiry-container {
                    padding: 20px 30px 40px;
                }
            }
        }
    }
}