$text-font: candara;

.topbar-layout {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(20, 20, 20);
    background-color: #ffffff;
    border-bottom: 1px solid rgb(195 195 195);
    z-index: 2;

    svg {
        width: 30px;
        height: 30px;
        fill: white !important;
    }

    .logo {
        cursor: pointer;
        font-size: 26px;
        margin-left: 30px;
        display: flex;
        align-items: center;
        font-weight: 700;
        letter-spacing: -1px;

        div {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: linear-gradient(to top, #6666ff 0%, #ccccff 74%);
            margin-right: 5px;
            box-shadow: 0 2px 10px 0px #6666ff;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 30px;

        .action-item {
            margin-left: 20px;
            cursor: pointer;
        }

        .profile {
            width: 40px;
            height: 40px;
            margin-left: 15px;
            border-radius: 50%;
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            color: rgb(0, 111, 202);
            font-weight: 600;
            background-color: rgba(37, 157, 255, 0.2);
        }
    }
}