.appointments-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;

    .filter-modal {
        position: absolute;
        top: 50%;
        right: 50%;
        background-color: white;
        z-index: 999;
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0 0 5px 2px rgb(0 0 0 / 30%);
        transform: translate(50%, 0%);

        .modal-header {
            display: flex;
            justify-content: space-between;
            padding: 20px 20px;
            border-bottom: 1px solid #dbdbdb;

            span#modal-title {
                font-size: 20px;
                font-weight: 500;
            }

            span#modal-close {
                svg {
                    width: 25px;
                }
            }

            span#modal-close:hover {
                cursor: pointer;
            }
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #dbdbdb;

            div.group {
                display: flex;
                flex-direction: column;
                padding: 20px;
            }

            span#select-title {
                margin-bottom: 5px;
                font-size: 16px;
                font-weight: 500;
            }

            select#status-list,
            select#member-list,
            select#channel-list {
                height: 40px;
                font-size: 16px;
                padding-left: 10px;
                border: 1px solid #dbdbdb;
                border-radius: 5px;
                width: 450px;
            }

            select#status-list,
            select#member-list,
            select#channel-list:hover {
                border: 1.5px solid #868686;
                cursor: pointer;
            }
        }

        .modal-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;

            span {
                font-size: 16px;
                font-weight: 500;
                color: #278cf5;
                cursor: pointer;
            }

            span:hover {
                text-decoration: underline;
            }

            div#actions {
                display: flex;
                justify-content: space-between;

                button#action-cancel {
                    height: 40px;
                    width: 100px;
                    font-size: 16px;
                    font-weight: 500;
                    background-color: white;
                    border: 1px solid #dbdbdb;
                    border-radius: 5px;
                    margin-right: 5px;
                }

                button#action-cancel:hover {
                    border: 1px solid #a8a8a8;
                    cursor: pointer;
                }

                button#action-apply {
                    height: 40px;
                    width: 100px;
                    font-size: 16px;
                    font-weight: 500;
                    background-color: #0b1322;
                    border: 1px solid;
                    border-radius: 5px;
                    color: white;
                    margin-left: 5px
                }

                button#action-apply:hover {
                    background-color: #373b42;
                    cursor: pointer;
                }
            }
        }
    }

    .content-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content-title {
            font-size: 30px;
            font-weight: 700;
        }

        .content-summary {
            font-size: 16px;

            a {
                color: rgb(25, 144, 255);
            }
        }

        .select-action {
            padding: 5px 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            height: 48px;
            width: 120px;
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            font-weight: 500;
        }

        .select-action:hover {
            border-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }

    .content-setting {
        display: flex;
        padding: 15px;
        background-color: #f5f5f5;
        justify-content: flex-start;
        width: calc(100%);
        border-radius: 10px;
        overflow-x: auto;
        margin-top: 20px;

        .search-container {
            display: flex;
            padding: 5px 15px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: white;
            border-radius: 25px;
            align-items: center;
            margin-right: 15px;

            input {
                height: 20px;
                font-size: 16px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                border: none;
                outline: none;
                margin-left: 10px;
                margin-right: 10px;
                width: 350px;
            }

            svg {
                height: 30px;
            }
        }

        .search-container:hover {
            border: 1px solid rgba(0, 0, 0, 0.5);
        }

        .filter-group {
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            margin-right: 15px;
            background-color: white;
            position: relative;

            span {
                font-weight: 500;
                margin-right: 10px;
                font-size: 16px;
            }

            svg {
                height: 30px;
            }

        }

        .filter-group:hover {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.5);
        }

        .select-month {
            margin-right: 15px;
            min-width: 150px;

            button {
                font-size: 16px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                font-weight: 500;
                padding-right: 20px;
                height: 100%;
                padding-left: 20px;
                background-color: white;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 25px;
            }

            button:hover {
                border: 1px solid rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
        }

        .schedule-container {
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            background-color: #fff;
            padding: 0px 20px;
            display: flex;

            select {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                font-size: 16px;
                font-weight: 500;
                border: none;
                outline: none;
                height: 100%;
            }

            select:hover {
                cursor: pointer;
            }
        }

        .schedule-container:hover {
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
    }

    .content-details {
        display: flex;
        width: 100%;
        margin-top: 20px;

        .table-container {
            overflow-x: auto;
            width: 100%;

            table {
                min-width: 1260px;
                width: 100%;
                border-collapse: collapse;

                .table-header {
                    width: 1500px;

                    th {
                        justify-content: space-between;
                        padding: 15px;
                        font-size: 15px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                        .header-content {
                            float: left;
                            font-weight: 500;
                        }

                        svg {
                            height: 20px;
                        }
                    }
                }

                tbody {

                    tr {

                        td.ref-name {
                            color: #037aff;
                        }

                        td {
                            padding: 15px;
                            font-size: 15px;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                            .badge {
                                border-radius: 5px;
                                padding: 5px;
                                font-size: 12px;
                                font-weight: 700;
                            }

                            .badge-primary {
                                background-color: #cde4ff;
                                color: #037aff;
                            }

                            .badge-success {
                                background-color: #c0f0d1;
                                color: #00a36d;
                            }
                        }
                    }
                }
            }
        }
    }
}