.settings-dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow-y: auto;

    .content-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 30px 0px 30px;
        max-width: 1030px;

        span.content-title {
            font-size: 30px;
            font-weight: 700;
        }

        span.content-summary {
            font-size: 16px;

            a {
                color: #3a8aff;
                text-decoration: none;
            }

            a:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .content-details {
        max-width: 1030px;
        width: 100%;
        display: flex;
        gap: 30px;
        margin: 0px 0px 30px;

        .list-group {
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            margin: 0px 0px 20px;

            .list-title {
                display: flex;
                flex-direction: column;
                padding: 20px 30px;

                .title {
                    font-size: 26px;
                    font-weight: 700;
                }

                .sub-title {
                    font-size: 16px;
                }
            }

            .list-item {
                color: black;
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                padding: 20px 30px;
                align-items: center;

                .item-detail {
                    display: flex;
                    flex-direction: column;
                    max-width: 80%;

                    .item-title {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    .item-content {
                        font-size: 15px;
                        font-weight: 500;
                        color: rgba(0, 0,0,0.5);
                    }
                }

                .direction-image {
                    svg {
                        width: 20px;
                    }
                }
            }

            .list-item:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.03);
            }

            .item-spliter {
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .content-details {
            flex-wrap: wrap;

            .left-side, .right-side {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1400px) {
        .content-header {
            padding: 0px 20px 0px;
        }
    }
}